<section class="flex flex-col justify-center align-middle w-full h-full gap-8">

  <app-perfil> </app-perfil>

  <!-- <div class="flex flex-row gap-4 m-auto justify-center">
    <app-redes linkUrl="https://github.com/pablo-santos21" image="github"> </app-redes>
    <app-redes linkUrl="https://linkedin.com" image="linkedin"> </app-redes>
    <app-redes linkUrl="https://instagram.com" image="instagram"> </app-redes>
    <app-redes linkUrl="https://pablosantos.dev" image="website"> </app-redes>
  </div> -->

  <div class="flex flex-col">
    <ul class="flex flex-col text-center w-full gap-4">

      <app-button-redes title="Whatsapp" linkUrl="https://wa.me/5544991395150?text=Gostaria%20de%20agendar%20um%20hor%C3%A1rio " image="whatsapp" />
      <app-button-redes title="Instagram" linkUrl="https://www.instagram.com/thallyakaroliineunhas/" image="instagram" />
      <app-button-redes title="Serviços e Preços" linkUrl="https://wa.me/p/8885172004838631/554491395150" image="servico-unha" />
      <app-button-redes title="Curso VIP Presencial" linkUrl="https://wa.me/p/7463816060406898/554491395150" image="unhas" />
      <app-button-redes title="Curso Online" linkUrl="https://wa.me/p/26572538332333437/554491395150" image="teste" />
      <app-button-redes title="Contato" linkUrl="tel:+5544991395150" image="phone-contact" />

    </ul>

  </div>

</section>


<router-outlet></router-outlet>