<section class="flex flex-col justify-center align-middle w-full h-full gap-8">

  <app-perfil> </app-perfil>

  <!-- <div class="flex flex-row gap-4 m-auto justify-center">
    <app-redes linkUrl="https://github.com/pablo-santos21" image="github"> </app-redes>
    <app-redes linkUrl="https://linkedin.com" image="linkedin"> </app-redes>
    <app-redes linkUrl="https://instagram.com" image="instagram"> </app-redes>
    <app-redes linkUrl="https://pablosantos.dev" image="website"> </app-redes>
  </div> -->

  <div class="flex flex-col">
    <ul class="flex flex-col text-center w-full gap-4">

      <app-button-redes title="ENTRAR EM CONTATO" linkUrl="https://wa.me/5544991395150?text=Gostaria%20de%20agendar%20um%20hor%C3%A1rio" image="whatsapp" />
      <!-- <app-button-redes title="Instagram" linkUrl="https://www.instagram.com/thallyakaroliineunhas/" image="instagram" /> -->
      <!-- <app-button-redes title="APOSTILA EDITÁVEL MOLDE F1" linkUrl="https://wa.me/5544991395150?text=Olá,%20gostaria%20de%20saber%20mais%20sobre%20a%20apostila" image="servico-unha" /> -->
      <!-- <app-button-redes title="Curso VIP Presencial" linkUrl="http://bit.ly/3HhxIQd" image="esmalte" /> -->
      <app-button-redes title="CURSO PRESENCIAL BÁSICO" linkUrl="https://preview.canva.site/84e3c559-a656-4b46-ad07-deeb8b70bbf8/estudiothallyakaroline.com.br/curso-presencial-basico" image="esmalte" />
      <app-button-redes title="CURSO PRESENCIAL INTERMEDIARIO" linkUrl="https://preview.canva.site/87631a27-9ed4-4890-9027-c6fcaa824d5f/estudiothallyakaroline.com.br/curso-presencial-intermediario-2-dias" image="esmalte" />
      <app-button-redes title="CURSO PRESENCIAL COMPLETO" linkUrl="https://preview.canva.site/cdd27d2e-1dad-41a6-aca5-7152e6882b4c/estudiothallyakaroline.com.br/curso-presencial-completo" image="esmalte" />
      <app-button-redes title="Localização" linkUrl="https://www.google.com/maps/place/R.+Prof.+Giampero+Monacci,+337+-+Jardim+Novo+Horizonte,+Maring%C3%A1+-+PR,+87010-090/@-23.4438794,-51.9361382,17z/data=!4m16!1m9!3m8!1s0x94ecd0b2da7ccaf9:0x26a5050eca04f245!2sR.+Prof.+Giampero+Monacci,+337+-+Jardim+Novo+Horizonte,+Maring%C3%A1+-+PR,+87010-090!3b1!8m2!3d-23.4440144!4d-51.93609!10e5!16s%2Fg%2F11hb7qfvc_!3m5!1s0x94ecd0b2da7ccaf9:0x26a5050eca04f245!8m2!3d-23.4440144!4d-51.93609!16s%2Fg%2F11hb7qfvc_?entry=ttu&g_ep=EgoyMDI0MTExOS4yIKXMDSoASAFQAw%3D%3D" image="locale" />
      <!-- <app-button-redes title="Formação Online" linkUrl="https://www.estudiothallyakaroline.com.br/" image="graduacao" /> -->

    </ul>

  </div>

</section>


<router-outlet></router-outlet>
